div.favorite_box {
    margin: 20px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.5;
    font-weight: bold;
    color: #000000;
}

div.error_box {
    margin:10px 22px;
    vertical-align:middle;
    font-weight: bold;
    color: red;
    background-color: #FFBABA;
}